.page-content{id: "document_approval_page"}
  .page-subheading.page-subheading-md
    %ol.breadcrumb
      %li
        %a{:href => documents_path} Documents
      %li.bread-text
        = @document.title
      %li.active
        Approve

  = render :partial => "shared/messages"

  = form_for(@document, url: {action: "approve"}, method: :post, html: {role: "form", id: "approve_document"}) do |form|
    .container-fluid-md
      .row
        .col-lg-6
          - if @view_url
            .panel.panel-default
              .panel-heading
                %h4.panel-title-doc
                  %a.pull-right.help-icon.left-5#zoom-in-btn{:href => "", "title" => "Zoom In", "data-placement" => "bottom", "data-toggle" => "tooltip"}
                    %i.fa.fa-lg.fa-search-plus

                  %a.pull-right.help-icon.left-5#zoom-out-btn{:href => "", "title" => "Zoom Out", "data-placement" => "bottom", "data-toggle" => "tooltip"}
                    %i.fa.fa-lg.fa-search-minus
                    
              .panel-body
                = render "documents/box_view", view_url: @view_url, assets_url: @assets_url
          - else
            .panel.panel-default
              .panel-body
                %strong Document is processing. Please try again later.

          = render "document_attributes", f: form, submit_text: "Approve"
          = render "document_versions", document: form.object

        .col-lg-6
          = render "document_approval_paths", document: form.object
          - if form.object.need_approval
            = render "document_approval_logs", document: form.object

          = render "document_logs", {document: form.object}

  = render "double_confirm_modal"
  = render "edit_category", categories: current_company.categories

:javascript
  var g_editDocumentPath = "#{edit_document_path(@document.id)}";